@import "tailwindcss";

/* ===========================
   Theme
=========================== */

@theme {
  --font-main: "IBM Plex Sans Arabic", sans-serif;

  /* Colors */
  --color-main-bg: #eeeeee;

  /* Layout */
  --spacing-sidebar: 200px;
  --spacing-navbar: 50px;
}

/* ===========================
   Global
=========================== */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
}

/* ===========================
   React DatePicker
=========================== */

.react-datepicker {
  @apply overflow-hidden rounded-2xl border-0 shadow-xl;
}

.react-datepicker__header {
  @apply border-b-0 bg-orange-500;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  @apply font-semibold text-white;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
  @apply rounded-full bg-orange-500 text-white;
}

.react-datepicker__day:hover {
  @apply rounded-full bg-orange-200;
}

.react-datepicker__navigation-icon::before {
  border-color: white;
}

.react-datepicker__triangle {
  display: none;
}


/* for monthes chart */

.recharts-wrapper:focus,
.recharts-surface:focus,
.recharts-layer:focus,
.recharts-layer:focus-visible {
  outline: none !important;
}